<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dependencies -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}{% endblock %} - Nikkei Article Bot</title>
    {% block head %}{% endblock %}
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Nikkei Article Bot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/upload">Upload</a>
                <a class="nav-item nav-link" href="/result">Result</a>
            </div>
        </div>
    </nav>

    <!-- content -->
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <!-- footer -->
    <footer class="text-center fixed-bottom p-1">
        &copy; Copyright 2019 by <a href="https://www.nippon-control-system.co.jp/">NCS</a><br>
        {% block footer %}{% endblock %}
    </footer>

    <!-- dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block script %}{% endblock %}
</body>
</html>