{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block head %}

<style>
    body {
        background-image: url("static/bg.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom left;
        height: 100vh;
    }
</style>

{% endblock %}

{% block content %}

<div class="text-center">
    <h1 class="display-4">Nikkei Article Bot</h1>
    <p class="lead">
        A bot to crawl and analyze press release articles from
        <a href="https://www.nikkei.com/pressrelease/" target=”_blank”>nikkei.com</a>
    </p>
    <hr class="my-4" width="50%">
    <a class="btn btn-primary btn-lg" href="/database_table" role="button">Start</a>
</div>

{% endblock %}

{% block footer %}
*Background Image (<a href="https://creativecommons.org/licenses/by/4.0/">CC 4.0</a>) by <a href="https://twitter.com/pablostanley">Pablo Stanley</a>
{% endblock %}
