{% extends "base.html" %}
{% block title %}Search{% endblock %}

{% block content %}

<!-- input form -->
<form id="inputForm">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputKeyword">Keyword</label>
            <input id="inputKeyword" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="inputIndustry">Industry</label>
            <select id="inputIndustry" class="form-control">
                <option value="0" selected>{{ options[0] }}</option>
                {% for key, val in options.items() %}
                <option value="{{ key }}">{{ val }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>

<!-- start button -->
<div class="text-center">
    <button id="btnStart" class="btn btn-primary btn-lg" disabled>
        Start
    </button>
</div>

{% endblock %}

{% block script %}
<script>

    let keyword
    let industry = "0"
    let requestUrl

    $("#inputKeyword").on("keyup", ()=>{
        keyword = $("#inputKeyword").val()
    })

    $("#inputIndustry").on("change", ()=>{
        industry = $("#inputIndustry").find(":selected").val()
    })

    $("#inputForm").on("change keyup", ()=>{
        if (keyword != "") {
            $("#btnStart").prop("disabled", false)
        } else {
            $("#btnStart").prop("disabled", true)
        }
    })

    $("#btnStart").on("click", ()=>{
        requestUrl = `/run?keyword=${keyword}&industry=${industry}`
        $.post(requestUrl, ()=>{
            window.location.href = "/result"
        })
    })

</script>
{% endblock %}
